<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nuestras Sangrias</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,300;1,400&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Lato&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../fonts/style.css" />
  </head>
  <body>
    <header>
      <section>
        <nav class="navbar navbar-expand-lg navbar-dark azul">
            <a class="navbar-brand" href="../index.html">
              <img
                src="../imagenes/logosangria-02.png"
                alt=""
                width="100"
                height="90"
              />
            </a>
            <div class="container-fluid">
              <a class="navbar-brand" href="#">Amar-i-lla</a>
              <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a
                      class="nav-link active"
                      aria-current="page"
                      href="../index.html"
                      >Inicio</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="productos.html"
                      >Nuestras Sangrias</a
                    >
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="mapa.html">Como Llegar</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="contacto.html">Contacto</a>
                  </li>
                </ul>
              </div>
            </div>          
        </nav>
      </section>
    </header>
    <main>
      <section
        class="
          container-fluid
          d-flex
          width-100%
          height-900px
          p-5
          m-0
          bg-dark
          text-white
          justify-content-center
          align-item-end
        "
      >
        <div
          class="
            card-bodyproductos
            d-flex
            justify-content-center
            align-item-center
          "
        >
          <div class="row">
            <div class="col-12 col-sm-4">
              <div class="card1" style="width: 20rem">
                <img src="" class="card-img-top" alt="..." />
                <div class="card-bodyproductos">
                  <h5 class="card-title">Sangria Vino Tinto</h5>
                  <p class="card-text">
                    Su fórmula original comenzó a tener variaciones, se empezó a
                    mezclar el vino con gaseosa y se le añadía una rodajita de
                    limón
                  </p>
                  <div class="caracteristicas">
                    <li>vino y zumo de uva</li>
                    <li>limon</li>
                    <li>tapon de rosca</li>
                  </div>
                  <a href="#" class="btn btn-primary">Comprar </a>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="card2" style="width: 20rem">
                <img src="" class="card-img-top" alt="..." />
                <div class="card-bodyproductos">
                  <h5 class="card-title2">Sangria Vino Blanco</h5>
                  <p class="card-text">
                    Recomendado de Bodegas Monte La Reina (Zamora) un sabor muy
                    suave, agradable y vivo.
                  </p>
                  <div class="caracteristicas">
                    <li>100% tempranillo</li>
                    <li>metodo charmat</li>
                    <li>tapon de rosca</li>
                  </div>
                  <a href="#" class="btn btn-primary">Comprar</a>
                </div>
              </div>
            </div>
            <div class="col-12 col-sm-4">
              <div class="card3" style="width: 20rem">
                <img src="" class="card-img-top" alt="..." />
                <div class="card-bodyproductos">
                  <h5 class="card-title">Sangria Vino Rose</h5>
                  <p class="card-text">
                    El sabor mas suave del vino rosado acompañado de las frutas
                    mas frescas del bosque
                  </p>
                  <div class="caracteristicas">
                    <li>malbec rosè</li>
                    <li>frutas del bosque</li>
                    <li>tapon de rosca</li>
                  </div>
                  <a href="#" class="btn btn-primary pb-2">Comprar</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
      integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
      crossorigin="anonymous"
    ></script>
  </body>
  <footer>
    <div class="logo2">
      <img src="../imagenes/logosangria-02.png" alt="" />
    </div>
    <div class="redes">
      <a class="ig" href=""><span class="icon-instagram"></span></a>
      <a class="fb" href=""><span class="icon-facebook"></span></a>
      <a class="tw" href=""><span class="icon-twitter"></span></a>
      <a class="wp" href=""><span class="icon-whatsapp"></span></a>
    </div>
  </footer>
</html>
